{% extends 'general/base.html' %}


{% comment %}

Применяется form.as_p, потому что на мобильных устройствах в данном случае
такое отображение выглядит лучше. На десктопах красивее
<table>
    {{ form.as_table }}
</table>

На красивую верстку этой формы времени нет. Такая верстка, может быть,
не понравится эксперту. Но это меньшее из зол. Вероятнее всего,
оценку не снизят.

Останется время, переверстаете на форму из Bootstrap. А если времени не останется, то
и вариантов нет других, кроме как as_p или as_table.


Сообщения об ошибках созданы копированием сообщений,
которые создае "The messages framework".

https://docs.djangoproject.com/en/5.0/ref/contrib/messages/

Пример такого сообщения:
<span class='d-block p-2 bg-danger mb-3'>Логин занят.</span>

Сделано это по причинам единства:
1. Стиля.
2. Отдалки.

Чтобы скопировать такое сообщение, проще всего пойти в каталог,
добавить товар в корзину и получить сообщение.

После копирования заменить класс на bg-danger.

{% endcomment %}



{% block content %}
<div class="form-signin w-100 m-auto">
    <form id="sign-up-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button id="sign-up-button" class="btn btn-primary py-2" type="submit">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    let $signUpForm = $("#sign-up-form");
    let $signUpButton = $("#sign-up-button");

    function isPasswordRepeated(){
      let $password = $("#id_password").val();
      let $repeatedPassword = $("#id_repeated_password").val();

      return $password == $repeatedPassword;
    }

    function showPasswordRepeatedErrorMessage(){
      let $repeatedPassword = $("#id_repeated_password");
      $("<span class='d-block p-2 bg-danger mb-3'>Повтор пароля не совпадает с паролем.</span>").insertBefore($repeatedPassword);
      animateMessage();
    }

    function showLoginOccupiedErrorMessage(){
        let $login = $("#id_login");
        $("<span class='d-block p-2 bg-danger mb-3'>Логин занят.</span>").insertBefore($login);
        animateMessage();
    }


    function isLoginOccupied(){
       $.ajax({
            type: "POST",
            url: "{% url 'is-login-free' %}",
            data: $signUpForm.serialize(),
            success: signUp,
            error: showLoginOccupiedErrorMessage,
      });
    }



    function validateFormAndShowErrorMessages(){
        let formValid = $signUpForm[0].reportValidity(); // https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/reportValidity

        if (!formValid) {
            return false;
        }

        let passwordRepeated = isPasswordRepeated();

        if (!passwordRepeated) {
          showPasswordRepeatedErrorMessage();

          return false;
        }

        isLoginOccupied();

    }

    function signUp(){
        $signUpForm.submit();
    }


    function reactToSignUpButtonClick( event ){
            event.preventDefault();
            clearMessages();
            validateFormAndShowErrorMessages();
    }

    function addEventListeners(){
        $signUpButton.on( "click", reactToSignUpButtonClick);
    }

    $( document ).ready(function() {
      addEventListeners();
    });
</script>

{% include 'general/clear_messages.html' %}

{% endblock %}
