{% extends 'general/base.html' %}

{% block headline %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Каталог</h1>
</div>

{% include 'general/message.html' %}

{% endblock %}


{% block content %}
<main>

    <div class="mb-5">
        <form>
            <table>
                {{ sort_filter_form.as_table }}
            </table>
            <button>Показать</button>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for object in object_list %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <a href="{{ object.get_absolute_url }}">
            <div class="card-header py-3">
              <img class="img-fluid" src="{{ object.photo.url }}" alt="{{ object.name }}">
            </div>
          </a>
          <div class="card-body">
            <a href="{{ object.get_absolute_url }}">
              <h1 class="card-title pricing-card-title">{{ object.name }}</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Артикул: {{ object.id }}</li>
                <li>Цена: {{ object.price }}</li>
                <li>В наличии: {{ object.stock }}</li>
                <li>Категория/вид товара: {{ object.category }}</li>
                <li>Цвет: {{ object.color }}</li>
                <li>Страна-производитель: {{ object.origin }}</li>
                <li>Поступил в продажу: {{ object.added }}</li>
              </ul>
            </a>

            {% if user.is_authenticated %}
                {% include 'carts/parts/add_to_cart_form.html' with product_id=object.id %}
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}


